/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  text-align: center;
  margin: 2em;
  font-family: helvetica, arial, sans-serif;
  background-color: slategrey;
  color: white;
}

p {
  font-size: 20pt;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}

h1 {
  text-align: center;
  font-family: verdana, arial, sans-serif;
}

#startStopArea {
  display: flex;
  justify-content: center;
}

#startStopArea > button {
  padding: 10px;
  border-radius: 10px;
  width: 1275px;
  font-size: 25pt;
  cursor: pointer;
}

.hidden {
  display: none;
}

#gameButtonArea {
  display: flex;
  justify-content: center;
  

}

#gameButtonArea > button {
  width: 300px;
  height: 300px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

/*This is for the starting sequence and player interaction*/
#button1 {
  background: black;
  cursor: crosshair;
}

#button1:active, #button1.lit {
   background-image: radial-gradient(red, black);
}

#button2 {
  background: black;
  cursor: crosshair;    /*makes game more immersive with different cursors*/
}

#button2:active, #button2.lit{
  background-image: radial-gradient(lightgreen, black);
}

#button3 {
  background: black;
  cursor: crosshair;
}

#button3:active, #button3.lit {
  background-image: radial-gradient(darkturquoise, black);
}

#button4 {
  background: black;
  cursor: crosshair;
}

#button4:active, #button4.lit {
  background-image: radial-gradient(yellow, black);
}


/*This is for the game clues*/
#button1.green, #button2.green, #button3.green, #button4.green { 
  background-image: radial-gradient(lightgreen, black);
}

#button1.red, #button2.red, #button3.red, #button4.red {
  background-image: radial-gradient(red, black);
}

#button1.blue, #button2.blue, #button3.blue, #button4.blue {
  background-image: radial-gradient(darkturquoise, black);
}

#button1.yellow, #button2.yellow, #button3.yellow, #button4.yellow {
  background-image: radial-gradient(yellow, black);
}

/*This is for if the player wins or loses*/
#button1.win, #button2.win, #button3.win, #button4.win {    /*if player loses turn all squares to green*/
  background-image: radial-gradient(lightgreen, black);
}

#button1.lose, #button2.lose, #button3.lose, #button4.lose {    /*if player loses turn all squares to red*/
  background-image: radial-gradient(red, black);
}